.cabecera{
    align-items: center;
    background: rgb(232, 226, 237);
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
    /*Posicion fija*/
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;

    background: linear-gradient(70grad, #F8F2FF, #BED4FF);
}

.cabecera__nombre{
    font-family: 'Sacramento', cursive;
    font-size: 30px;
    font-weight: bolder;
    /*animación*/
    animation: move linear 8s infinite;

}
/*Animación para rotar las sombras*/
@keyframes move {
  0% {
    text-shadow:
        4px -4px 0 #e3bae8,
        3px -3px 0 #e3bae8,
        2px -2px 0 #e3bae8,
        1px -1px 0 #e3bae8,
        -4px 4px 0 #13f1fc,
        -3px 3px 0 #13f1fc,
        -2px 2px 0 #13f1fc,
        -1px 1px 0 #13f1fc;
  }
  25% {
    text-shadow:
      -4px -4px 0 #bbcad2,
      -3px -3px 0 #bbcad2,
      -2px -2px 0 #bbcad2,
      -1px -1px 0 #bbcad2,
      4px 4px 0 #bb5371,
      3px 3px 0 #bb5371,
      2px 2px 0 #bb5371,
      1px 1px 0 #bb5371;
  }
  50% {
    text-shadow:
        4px -4px 0 #e3bae8,
      3px -3px 0 #e3bae8,
      2px -2px 0 #e3bae8,
      1px -1px 0 #e3bae8,
      -4px 4px 0 #13f1fc,
      -3px 3px 0 #13f1fc,
      -2px 2px 0 #13f1fc,
      -1px 1px 0 #13f1fc;
  }
  75% {
    text-shadow:
      4px 4px 0 #13f1fc,
      3px 3px 0 #13f1fc,
      2px 2px 0 #13f1fc,
      1px 1px 0 #13f1fc,
      -4px -4px 0 #e3bae8,
      -3px -3px 0 #e3bae8,
      -2px -2px 0 #e3bae8,
      -1px -1px 0 #e3bae8
    ;
  }
  100% {
    text-shadow:
    -4px 4px 0 #bb5371,
    -3px 3px 0 #bb5371,
    -2px 2px 0 #bb5371,
    -1px 1px 0 #bb5371,
    4px -4px 0 #bbcad2,
    3px -3px 0 #bbcad2,
    2px -2px 0 #bbcad2,
    1px -1px 0 #bbcad2;

  }
}
