.skill .container{
    display: flex;
    flex-direction: row-reverse;
}
.skill__titulo{
    font-size: 2rem;
    text-shadow:
      -4px 4px 0 #7a8eb2,
      -3px 3px 0 #5f759c,
      -2px 2px 0 #7a8eb2,
      -1px 1px 0 #5f759c;
}
.skill__cont{
    display: flex;
}

.skill__cont div{
    display: flex;
    align-items: center;
    text-align: right;
}
.skill__cont img{
    width: 80%;
    height: 50%;
    border-radius: 10%;
}
.skill__cont--html:hover{
    width: 50%;
    -webkit-transform:scale(1);
    transform:scale(1);
    box-shadow: 0px 0px 5px 5px #ec731e;
    -webkit-box-shadow: 0px 0px 5px 5px #ec731e;
}
.skill__cont--css:hover{
    width: 50%;
    -webkit-transform:scale(1);
    transform:scale(1);
    box-shadow: 0px 0px 5px 5px #1e51ec;
    -webkit-box-shadow: 0px 0px 5px 5px #1e51ec;
}
.skill__cont--js:hover{
    width: 50%;
    height: 40%;
    -webkit-transform:scale(1);
    transform:scale(1);
    box-shadow: 0px 0px 5px 5px #ecec1e;
    -webkit-box-shadow: 0px 0px 5px 5px #ecec1e;
}
.skill__cont--java:hover{
    width: 50%;
    -webkit-transform:scale(1);
    transform:scale(1);
    box-shadow: 0px 0px 5px 5px #ec391e;
    -webkit-box-shadow: 0px 0px 5px 5px #ec391e;
}

/**/
@media screen and  (min-width: 360px) and (max-width: 767px) {
    .skill .container{
        display: flex;
        flex-direction: column;
    }
}

/*Hobbies*/
.hobbies{
    background: linear-gradient(70grad, transparent, #BED4FF, transparent, #F8F2FF,transparent );
    border-radius: 15px;
    box-shadow: 2px 3px 3px 1px rgba(133, 95, 172, 0.8);
}
.hobbies .container{
    display: flex;
    flex-direction: column;
}
.hobbies__h2{
    margin: 2rem 0 0 0;
    font-size: 2rem;
    text-shadow:  -3px -3px #bbcad2, 3px 3px #bbcad2; /*-3px 3px #ffffff, -3px -3px #ffffff, 3px -3px #ffffff, 3px 3px #f3f3f2, 6px 6px #6ac7c2;*/
}

.hobbies__cont{
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}


.hobbies__cont div{
    padding: 10px;
    width: 20%;
    height: 20%;
}
.hobbies__cont div:hover{
    animation: vibrate 0.7s;
    animation-iteration-count: infinite;
}

.hobbies__cont img{
    width: 100%;
    height: 50%;
    border-radius: 10%;
}

.hobbies__titulo{
    margin: 0;
    color: #fdfdfd;
    background: rgb(0,0,0,0.5);
    text-align: center;
    padding: .4rem; 
    border-radius: 0 0 15px 15px;
}


/**/
@media screen and (min-width: 726) {
    
    .hobbies__cont div{
        padding: 10px;
        margin: 10px;
        width: 30%;
        height: 20%;
    }
    
}
@media screen and  (min-width: 360px) and (max-width: 726px) {
    .hobbies__cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: right;
        margin: 0 15px;
    } 
    .hobbies__cont div{
        padding: 10px;
        margin: 10px;
        width: 90%;
        height: 20%;
    }
}


@keyframes vibrate{
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-1deg); }
    20% { transform: rotate(0deg); }
    30% { transform: rotate(-1deg); }
    40% { transform: rotate(0deg); }
    50% { transform: rotate(-1deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-1deg); }
    80% { transform: rotate(0deg); }
    90% { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }
}